@import url("https://fonts.googleapis.com/css2?family=Lato:wgh@300;400;700&display=swap");
* {
	margin: 0;
}

html, body {
	height: 100%;
	margin: 0;
}

.app {
	display: grid;
	place-items: center;
	background-color: #fff;
	height: 100vh;
	font-family: "Lato", sans-serif;
}

#root {
	height: 100%;
}
