* {
	margin: 0;
}

html, body {
	height: 100%;
	margin: 0;
}

.app {
	display: grid;
	place-items: center;
	background-color: #fff;
	/*background-color: #dadbd3;*/
	height: 100vh;
}

#root {
	height: 100%;
}
