.leftbar {
	display: flex;
	flex-direction: column;
	flex: 0.35;
}

.leftbar__search {
	display: flex;
	align-items: center;
	background-color: #f6f6f6;
	height: 39px;
	padding: 10px;
}

.leftbar__searchContainer {
	display: flex;
	align-items: center;
	background-color: #fff;
	width: 100%;
	height: 35px;
	border-radius: 20px;
}

.leftbar__searchContainer > .MuiSvgIcon-root {
	color: gray;
	padding: 10px;
}

.leftbar__searchContainer > input {
	border: none;
	margin-left: 10px;
}

.leftbar__header {
	display: flex;
	justify-content: space-between;
	padding: 20px;
	border-right: 1px solid lightgray;
}

.leftbar__headerRight {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-width: 10vw;
}

.leftbar__headerRight > .MuiSvgIcon-root {
	margin-right: 2vw;
	font-size: 24px !important;
}