.leftbar {
	flex: 0.35;
}

.leftbar__header {
	display: flex;
	justify-content: space-between;
	padding: 20px;
	border-right: 1px solid lightgray;
}

.leftbar__headerRight {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-width: 10vw;
}