#brand__name {
	margin-bottom: 20px;
	font-size: 1.5rem;
}

.register__body {
	display: flex;
	background-color: #fff;
	height: 90vh;
	width: 45vw;
	box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.55);
}

.register1__body {
	height: 100%;
	width: 100%;
	padding: 4.5rem 4.5rem 6rem;
}

.register1__body p {
	font-size: 1.25rem;
	text-align: center;
	margin: 0 0 2rem;
}

.form__container {
	display: flex; 
	flex-direction: column;
	overflow: visible;
}

.email__input, .submit__container, .phonenumber__input {
	width: 100%;
}

.email__input, .phonenumber__input, .firstname__input, .lastname__input {
	margin: 0 0 20px;
	display: flex;
	flex-direction: column;
	overflow: visible;
	text-align: left;
	width: 100%;
}

.field__label {
	display: block;
	text-align: left;
	margin-bottom: .25rem;
}

.email__container > input, .number__container > input, .firstname__container > input,  
.lastname__container > input
{
	height: 40px;
	padding: 5px 15px;
	box-sizing: border-box;
	width: 100%;
}

.firstname__container {
	margin-right: 10px;
} 

.lastname__container {
	margin-left: 10px;
}

.submit__container > button {
	background-color: #4FCE5D;
	border: 2px solid #4FCE5D;
	color: #fff;
	font-size: 1.125rem;
	line-height: 1.5625rem;
	padding: 5px 15px;
	box-sizing: border-box;
	width: 100%;
	height: 40px;
	margin-top: 20px;
}

.submit__container > button:hover {
	cursor: pointer;
}

.owner__names {
	display: flex;
	justify-content: space-between;
}

.lastname__input > .field__label {
	margin-left: 10px;
}
