.agent__welcome {
	flex: 0.65;
	font-family: "Lato", sans-serif;
}

.welcome__container {
	height: 100%;
}

.welcome__container > .welcome__text {
	margin: 20px;
	color: grey;
	font-weight: 700;
	text-align: center;
}

.welcome__container > .welcome__anime {
	display: flex;
	justify-content: center;
	align-items: center;
}