.homepage__container {
	width: 100vw;
	height: 100vh;
	background-color: #fff;
}

.home__container {
	height: 100%;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	/*grid-template-rows: 0.1fr 1fr 0.1fr;*/
	grid-template-areas: 
		"l l l l l r r r r r r r";
} 

.home__leftarea {
	grid-area: l;
}

.home__rightarea {
	grid-area: r;
	border: 1px solid blue;
}

/*.home__header {
	grid-area: h;
	background-color: #96ceb4;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-right: 5px;
}

.home__header p {
	margin-right: 10px;
}

.home__header p:hover {
	cursor: pointer;
}

.home__menu {
	grid-area: m;
	background-color: #88d8b0;
}

.home__content {
	grid-area: c;
	background-color: #ff6f69;
}

.home__footer {
	grid-area: f;
	background-color: #ffcc5c;
}*/