.addphone__container {
	grid-area:main;
	overflow-y: scroll;
}

.addphone__status {
	border-bottom: 1px solid lightgray;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.addphone__status .status__green {
	color: green;
	font-weight: 700;
}

.addphone__status .status__red {
	color: red;
	font-weight: 700;
}

.addphone__parent > img {
	max-width:100%;
	max-height:100%;
} 