.setup__container {
	grid-area:main;
	background-color: #f5f5f5;
	overflow-y: scroll;
	padding: 20px;
}

.setup__card {
	border: 1px solid lightgrey;
	background-color: #fff;
	border-radius: 4px;
	color: rgba(0,0,0,.85);
	font-size: 14px;
	margin-top: 20px;
}

.setup__card__heading {
	min-height: 48px;
	font-weight: 700;
	font-size: 16px;
	border-bottom: 1px solid #f0f0f0;
	border-radius: 4px 4px 0 0;
	display: flex;
	align-items: center;
	padding-left: 20px;
}

.setup__card__body {
	padding: 20px;
	min-height: 6em;
}
