.subscr__container {
	grid-area:main;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 0.3fr 3fr;
	grid-template-areas:
		"topleft toprow toprow toprow"
		"leftbar mainarea mainarea mainarea";
}

.billing__heading {
	grid-area: topleft;
	border-right: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
	background-color: #e3fbe3;
	display: flex;
	align-items: center;
	justify-content: center;
}

.billing__footer {
	grid-area: leftbar;
	border-right: 1px solid lightgray;
	background-color: #e3fbe3;
}

.billing__footer > p {
	text-align: center;
	margin: 10px;
	padding: 10px;
}

.billing__footer > p:hover {
	color: #006b38ff;
	cursor: pointer;
}

.active__tab {
	color: #006b38ff;
	font-weight: 700;
}

.expanded__topright {
	grid-area: toprow;
	border-bottom: 1px solid lightgray;
	display: flex;
	align-items: center;
	justify-content: center;
}

.expanded__downright {
	grid-area: mainarea;
	padding: 30px;
	overflow-y: scroll;
}

.payment__container {
	border: 1px solid lightgray;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 0.5fr 1fr 1.5fr;
	grid-template-areas:
		"payment-top"
		"payment-mid"
		"payment-bottom";
}
